{% extends 'layout.bootstrap.html.twig' %}
{% block body %}


    <div class="container-fluid">
        <h1 class="mt-5">Histórico de consumos</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Kilómetros recorridos</th>
                <th>Total litros</th>
                <th>Consumo medio</th>
                <th>Total Repostaje</th>
                <th>Precio carburante</th>
                <th>Medida ordenador</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11/05/1989</td>
                <td>856,65</td>
                <td>55,55</td>
                <td>5,5</td>
                <td>43,34 €</td>
                <td>0,873 € / lts</td>
                <td>NO SE INFORMÓ</td>
            </tr>

            <tr>
                <td>11/05/1989</td>
                <td>856,65</td>
                <td>55,55</td>
                <td>5,5</td>
                <td>43,34 €</td>
                <td>0,873 € / lts</td>
                <td>NO SE INFORMÓ</td>
            </tr>

            <tr>
                <td>11/05/1989</td>
                <td>856,65</td>
                <td>55,55</td>
                <td>5,5</td>
                <td>43,34 €</td>
                <td>0,873 € / lts</td>
                <td>NO SE INFORMÓ</td>
            </tr>

            <tr>
                <td>11/05/1989</td>
                <td>856,65</td>
                <td>55,55</td>
                <td>5,5</td>
                <td>43,34 €</td>
                <td>0,873 € / lts</td>
                <td>NO SE INFORMÓ</td>
            </tr>

            </tbody>
        </table>
    </div>



{% endblock %}