{% extends 'layout.bootstrap.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h1 class="mt-5">Editando usuario</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}